---
import { Image } from "astro:assets";
import type { ImageMetadata } from "astro";

type CardButtonType = "primary" | "secondary";

const CARD_BUTTON_TYPE_TO_COLOR: Record<CardButtonType, string> = {
  primary: "--secondary-purple-900",
  secondary: "--secondary-purple-500",
};

interface Props {
  type: CardButtonType;
  label: string;
  iconSrc: ImageMetadata;
  iconSize?: string;
  altText: string;
  url: string;
  turnIconWhite?: boolean;
}

const { type, label, iconSrc, iconSize, altText, url, turnIconWhite } =
  Astro.props;
---

<a
  href={url}
  target="_blank"
  rel="noopener noreferrer"
  class="flex flex-row gap-3 p-2 w-40 rounded-sm items-center justify-center hover:opacity-80 transition-all border-2 border-transparent hover:border-(--accent-orange-500)"
  style={`background-color: var(${CARD_BUTTON_TYPE_TO_COLOR[type]})`}
>
  <Image
    src={iconSrc}
    alt={altText}
    width={20}
    height={20}
    loading="lazy"
    decoding="async"
    class={`w-5 h-5 ${turnIconWhite ? "brightness-0 invert" : undefined}`}
    style={iconSize ? `width: ${iconSize}; height: ${iconSize};` : undefined}
  />
  <p class="text-neutral-gray-200 font-semibold">{label}</p>
</a>

<style>
  a:active {
    border-color: var(--accent-orange-500) !important;
  }
</style>
