---
interface Props {
  title: string;
  id: string;
  iconSrc: ImageMetadata;
  display?: "grid" | "flex";
}

import { Image } from "astro:assets";
const { title, id, display, iconSrc } = Astro.props;
---

<section class="w-full" id={id}>
  {
    title && (
      <span class="flex flex-row w-full gap-2 items-center mb-8 text-secondary-purple-400">
        <Image
          src={iconSrc}
          class="image inline-block w-[1em] h-[1em] icon-img filter-secondary-purple-400"
          alt={title}
          width={iconSrc.width}
          height={iconSrc.height}
          loading="lazy"
        />
        <h2 class="font-bold text-left text-2xl md:text-3xl 2xl:text-5xl">
          {title}
        </h2>
      </span>
    )
  }
  <div class={display === "grid" ? "grid-display" : "flex-display"}>
    <slot />
  </div>
</section>

<style>
  @reference "tailwindcss";

  .icon-img {
    display: inline-block;
    object-fit: contain;
    vertical-align: middle;

    height: 1em;
    width: 1em;
  }

  .flex-display {
    @apply flex flex-col gap-6 w-full justify-center items-center;
  }
  .grid-display {
    @apply grid grid-cols-1 sm:grid-cols-2 gap-6 w-full justify-center items-start;
  }
</style>
