---
import { SECTIONS_ID_TO_DATA } from "@/data/sections";
import SectionTemplate from "@/components/templates/SectionTemplate.astro";
import Experience from "@/components/organisms/Experience.astro";
import Home from "@/components/organisms/Home.astro";
import Projects from "@/components/organisms/Projects.astro";
import Certifications from "@/components/organisms/Certifications.astro";
import Education from "@/components/organisms/Education.astro";
import AboutMe from "./AboutMe.astro";
import Contact from "./Contact.astro";

const experienceSection = SECTIONS_ID_TO_DATA.experience;
const projectsSection = SECTIONS_ID_TO_DATA.projects;
const certificationsSection = SECTIONS_ID_TO_DATA.certifications;
const educationSection = SECTIONS_ID_TO_DATA.education;
const aboutMeSection = SECTIONS_ID_TO_DATA["about-me"];
const contactSection = SECTIONS_ID_TO_DATA.contact;
---

<main class="flex flex-col gap-y-16 max-w-7xl mx-auto p-4">
  <!-- Home -->
  <section>
    <Home />
  </section>

  <!-- Experience -->
  <SectionTemplate
    id={experienceSection.id}
    title={experienceSection.label}
    iconSrc={experienceSection.icon}
  >
    <Experience />
  </SectionTemplate>

  <!-- Projects -->
  <SectionTemplate
    id={projectsSection.id}
    title={projectsSection.label}
    iconSrc={projectsSection.icon}
    display="grid"
  >
    <Projects />
  </SectionTemplate>

  <!-- Certifications -->
  <SectionTemplate
    id={certificationsSection.id}
    title={certificationsSection.label}
    iconSrc={certificationsSection.icon}
    display="grid"
  >
    <Certifications />
  </SectionTemplate>

  <!-- Education -->
  <SectionTemplate
    id={educationSection.id}
    title={educationSection.label}
    iconSrc={educationSection.icon}
    display="grid"
  >
    <Education />
  </SectionTemplate>

  <!-- About me -->
  <SectionTemplate
    id={aboutMeSection.id}
    title={aboutMeSection.label}
    iconSrc={aboutMeSection.icon}
  >
    <AboutMe />
  </SectionTemplate>

  <!-- Contact -->
  <SectionTemplate
    id={contactSection.id}
    title={contactSection.label}
    iconSrc={contactSection.icon}
  >
    <Contact />
  </SectionTemplate>
</main>
