---
import { SECTIONS_ID_TO_DATA, type Section } from "@/data/sections";
import SectionTemplate from "../templates/SectionTemplate.astro";
import Experience from "./Experience.astro";
import Home from "./Home.astro";
import Projects from "./Projects.astro";
import Certifications from "./Certifications.astro";
import Education from "./Education.astro";

const experienceSection = SECTIONS_ID_TO_DATA.experience;
const projectsSection = SECTIONS_ID_TO_DATA.projects;
const certificationsSection = SECTIONS_ID_TO_DATA.certifications;
const educationSection = SECTIONS_ID_TO_DATA.education;

const getSectionTitle = (section: Section): string => {
  return `${section.icon} ${section.label}`;
};
---

<main class="flex flex-col gap-y-16 max-w-7xl mx-auto p-4">
  <!-- Home -->
  <section>
    <Home />
  </section>

  <!-- Experience -->
  <SectionTemplate
    id={experienceSection.id}
    title={getSectionTitle(experienceSection)}
  >
    <Experience />
  </SectionTemplate>

  <!-- Projects -->
  <SectionTemplate
    id={projectsSection.id}
    title={getSectionTitle(projectsSection)}
    display="grid"
  >
    <Projects />
  </SectionTemplate>

  <!-- Certifications -->
  <SectionTemplate
    id={certificationsSection.id}
    title={getSectionTitle(certificationsSection)}
    display="grid"
  >
    <Certifications />
  </SectionTemplate>

  <!-- Education -->
  <SectionTemplate
    id={educationSection.id}
    title={getSectionTitle(educationSection)}
    display="grid"
  >
    <Education />
  </SectionTemplate>
</main>
